.box {
    padding: 20px;
}
.input-data {
    font-size: 20px;
    border-radius: 20px;
    padding: 11px;
    margin-right: 10px;
    
}
.button-search {
    font-size: 30px;
    border-radius: 9px;
    color: white;
    background: green;
}

.search-label {
    font-size: 30px;
}

